@model List<User>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Email</th>
            <th>Şifre</th>
            <th>TCKN</th>
            <th>TCKN Kontrolü</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>@user.TCKN</td>
                <td>@user.TCKNCheck</td>
            </tr>
        }
    </tbody>
</table>
